
before_install:
  - sudo apt-get update
  - sudo apt-get install build-essential curl wget unzip git openssl lua5.2 lua5.2-dev libev-dev libjs-jquery -y
  - wget -O /tmp/luarocks.zip https://github.com/keplerproject/luarocks/archive/v2.3.0.zip
  - unzip /tmp/luarocks.zip -d /tmp
  - (cd /tmp/luarocks-2.3.0 && ./configure --prefix=/usr --lua-version=5.2)
  - make -C /tmp/luarocks-2.3.0 build
  - sudo make -C /tmp/luarocks-2.3.0 install
  - sudo luarocks install serpent
  - sudo luarocks install busted
  - sudo luarocks install luacheck
  - sudo luarocks install faketorio

script:
  - luacheck ./*.lua --globals todo mod_gui script game defines data serpent settings global 
  - busted
